@use '@angular/material' as mat;
@import '/src/styles/theme.scss';

.card-container {
    border: 1px solid mat.get-color-from-palette($sheetient-primary, 600);
    background-color: white;
    width: 400px;

    .card-header {
        background-color: mat.get-color-from-palette($sheetient-primary, 600);
        color: mat.get-contrast-color-from-palette($sheetient-primary, 600);
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.0125em;
        font-variant: small-caps;
    }

    .card-body {
        padding: 1.5rem 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .remember-me.mat-mdc-checkbox .mdc-form-field {
            font-variant: small-caps;
            color: mat.get-color-from-palette($sheetient-accent, 800) !important;
        }

        .forgot-password {
            font-variant: small-caps;
            letter-spacing: .0125em
        }
    }

    .card-buttons {
        background-color: mat.get-color-from-palette($sheetient-primary, 50);
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
        button {
            font-variant: small-caps;
            letter-spacing: .0125em;
            font-size: 16px;
        }

    }
}

.login-container {
    position: relative;
}

.error-message {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
}
