@use '@angular/material' as mat;
@use '/src/styles/theme.scss';

mat-sidenav-container {
    flex: 1 1 auto;

    mat-sidenav-content {
        display: flex;
        flex-direction: column;
    }
}

.page-tab-header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .page-list {
        display: flex;
        background-color: mat.m2-get-contrast-color-from-palette(theme.$sheetient-primary, 500);
    }
}
