<app-page-container
    [pageHeader]="sheet ? sheet.name : 'Loading...'"
    [isLoading]="isLoading"
    [showBackButton]="true"
    (backButtonClick)="back()">
    <mat-sidenav-container>
        <mat-sidenav mode="side" position="end" opened disableClose>
            <app-sheet-sidebar></app-sheet-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="page-tab-header">
                <ng-container *ngIf="sheet">
                    <div
                        class="page-list"
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        cdkDropListLockAxis="x"
                        (cdkDropListDropped)="dropPageTab($event)">
                        <div
                            matRipple
                            matRippleColor="primary"
                            class="page-tab"
                            *ngFor="let page of sheet.pages"
                            [ngClass]="{ 'page-tab--active': page.id === currentPage.id }"
                            (click)="changePage(page.id)"
                            cdkDrag
                            cdkDragBoundary=".page-list"
                            [id]="'page_' + page.id">
                            <span class="page-tab-hover"></span>
                            {{ page.name }}
                        </div>
                    </div>
                    <div class="page-tab page-tab-button">
                        <button mat-icon-button color="primary" (click)="addNewPage()"><mat-icon>add</mat-icon></button>
                    </div>
                </ng-container>
            </div>
            <app-page [page]="currentPage"></app-page>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-page-container>
