@use '@angular/material' as mat;
@import '/src/styles/theme.scss';

.app-bar {
    position: absolute;
    z-index: 3;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    mat-toolbar {
        flex: 0 0 auto;
    }
}

.sheet-name {
    cursor: pointer;
}

.sheet-name-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 500);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.0125em;
    border-bottom: 1px solid mat.m2-get-contrast-color-from-palette($sheetient-primary, 500);
    position: absolute;
    padding: 0;
}

mat-sidenav {
    width: 20rem;
}

.tab-bar {
    height: 3rem;
    width: 100%;
    background-color: mat.m2-get-color-from-palette($sheetient-primary, 500);
    color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 500);
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
}

.tab-list {
    display: flex;
    &.dragging {
        cursor: grabbing;
    }
}

.tab {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    letter-spacing: 0.075em;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
        background-color: mat.m2-get-color-from-palette($sheetient-primary, 400);
    }
    &__active {
        border-bottom: 2px solid whitesmoke;
    }
    &__page {
        padding: 0 1.5rem;
    }
    &__multi {
        &:hover {
            padding: 0 0.5rem;
            .drag-handle {
                display: inline-block;
            }
        }
    }
    .drag-handle {
        display: none;
        margin-right: 0.5rem;
        cursor: grab;
    }
}

.tab-drag-preview {
    background-color: mat.m2-get-color-from-palette($sheetient-primary, 500);
    color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 500);
    height: 3rem;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    .drag-handle {
        display: inline-block;
    }
}

app-page {
    display: block;
    height: calc(100% - 3rem);
    width: 100%;
    overflow: auto;
    position: relative;
}


.add-field-button {
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 1;

    button {
        padding: 0 0.5rem 0 1rem;
    }

    div.button-label {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        line-height: 24px;
        gap: 0.5rem;
    }
}
