@use '@angular/material' as mat;
@import '/src/styles/theme.scss';

.login-container {
    position: relative;

    .card-header {
        background-color: mat.m2-get-color-from-palette($sheetient-primary, 700);
        color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 700);
    }

    .error-message {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 0.5rem;
    }
}
