<div class="login-container">
    <div class="sheetient-card mat-elevation-z3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card-header">Log In</div>
            <div class="card-body">
                <mat-form-field>
                    <mat-label>Username or Email</mat-label>
                    <input matInput formControlName="usernameOrEmail" maxlength="256" />
                    <mat-error *ngIf="usernameOrEmailControl.errors?.['required']">Required field.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        [type]="hidePassword ? 'password' : 'text'"
                        formControlName="password"
                        maxlength="256" />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        color="accent"
                        (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordControl.errors?.['required']">Required field.</mat-error>
                    <mat-error *ngIf="passwordControl.errors?.['minlength']">Must be at least 8 characters.</mat-error>
                </mat-form-field>
                <div class="control-row control-row__space-between">
                    <mat-checkbox color="accent" formControlName="rememberMe">Remember Me</mat-checkbox>
                    <button mat-button color="accent">Forgot Password?</button>
                </div>
            </div>
            <div class="card-footer">
                <app-spinner-button color="accent" [isSpinning]="isLoggingIn">
                    <button mat-flat-button color="accent" type="submit" #button>Log In</button>
                </app-spinner-button>
            </div>
        </form>
    </div>
</div>
