<div class="sheet-sidebar">
    <mat-accordion multi *ngIf="!isLoading">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Sheet Options</mat-panel-title>
            </mat-expansion-panel-header>
            <app-sheet-options></app-sheet-options>
        </mat-expansion-panel>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Page Options</mat-panel-title>
            </mat-expansion-panel-header>
            <app-page-options></app-page-options>
        </mat-expansion-panel>
    </mat-accordion>
</div>
