@use '@angular/material' as mat;
@use '/src/styles/theme.scss';

.sheet-sidebar {
    width: 20rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
}
