@use '@angular/material' as mat;
@include mat.core();

$sheetient-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 500);
$sheetient-accent: mat.m2-define-palette(mat.$m2-teal-palette, 700);
$sheetient-warn: mat.m2-define-palette(mat.$m2-red-palette, 800);

$sheetient-typography: mat.m2-define-typography-config();

$sheetient-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $sheetient-primary,
            accent: $sheetient-accent,
            warn: $sheetient-warn,
        ),
        typography: $sheetient-typography,
    )
);

$theme-white: #FFF;
