@use '@angular/material' as mat;
@use '/src/styles/theme.scss';

.button-row {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 2rem;
}
.sheet-list {
    flex: 1 1 auto;
    display: flex;
    gap: 2rem;
    padding: 0 3rem;
    .sheet {
        flex: 0 0 auto;
        border: solid 1px rgba(0, 0, 0, 0.5);
        height: 20rem;
        width: 14rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        @include mat.elevation-transition();
        @include mat.elevation(1);
        &:hover {
            @include mat.elevation(8);
        }
        cursor: pointer;

        .sheet-image {
            height: 14rem;
            background-color: mat.m2-get-color-from-palette(theme.$sheetient-primary, 100);
        }
        .sheet-footer {
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            .sheet-footer-row {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                justify-content: space-between;
                .sheet-name {
                    font-variant: small-caps;
                    letter-spacing: 0.0125em;
                    font-size: 20px;
                    font-weight: 500;
                    color: mat.m2-get-color-from-palette(theme.$sheetient-primary, 700);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .sheet-description {
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}
