<app-page-container pageHeader="Sheets" [isLoading]="isLoading">
    <div class="button-row">
        <button mat-raised-button color="accent" [disabled]="isLoading" (click)="openNewSheetDialog()">
            Create New Sheet
        </button>
    </div>
    <div class="sheet-list">
        <div
            *ngFor="let sheet of sheets; index as i"
            class="sheet"
            matRipple
            [matRippleDisabled]="true"
            (mousedown)="toggleRipple($event, i, true)"
            (mouseup)="toggleRipple($event, i, false)"
            (click)="openSheet(sheet.id)">
            <div class="sheet-image"></div>
            <div class="sheet-footer">
                <div class="sheet-footer-row">
                    <span class="sheet-name">{{ sheet.name }}</span>
                    <button
                        mat-icon-button
                        color="primary"
                        (click)="$event.stopPropagation()"
                        (mousedown)="$event.stopPropagation()"
                        [matMenuTriggerFor]="sheetMenu"
                        [matMenuTriggerData]="{ sheet: sheet }">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <span class="sheet-description">{{ sheet.description }}</span>
            </div>
        </div>
        <mat-menu #sheetMenu="matMenu" class="sheet-menu">
            <ng-template matMenuContent let-sheet="sheet">
                <button mat-menu-item (click)="deleteSheet(sheet)">Delete</button>
            </ng-template>
        </mat-menu>
    </div>
</app-page-container>
