@use '@angular/material' as mat;
@import '/src/styles/theme.scss';
:host {
    height: 100%;
}

.sidebar-container {
    height: 100%;
    background-color: mat.m2-get-color-from-palette($sheetient-primary, 50);
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar-header {
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    color: mat.m2-get-color-from-palette($sheetient-primary, 900);
}
