@use '@angular/material' as mat;
@import '/src/styles/theme.scss';

.page-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image:
        conic-gradient(
            from 85deg at bottom 23% right 45%,
            mat.m2-get-color-from-palette($sheetient-primary, 400) 90deg,
            transparent 90deg
        ),
        conic-gradient(
            from 80deg at bottom 15% right 50%,
            mat.m2-get-color-from-palette($sheetient-primary, 500) 90deg,
            transparent 90deg
        ),
        linear-gradient(
            mat.m2-get-color-from-palette($sheetient-primary, 500) 50%,
            mat.m2-get-color-from-palette($sheetient-primary, 200)
        );
}

.login-container {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-size: 60px;
        line-height: 64px;
        font-weight: 600;
        letter-spacing: 0.0125em;
        font-variant: small-caps;
        color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 400);
        margin-bottom: 0.5rem;
    }

    .description {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 400);
        margin-bottom: 1.5rem;
    }
    p {
        color: mat.m2-get-contrast-color-from-palette($sheetient-primary, 400);
    }

    button {
        font-variant: small-caps;
        letter-spacing: 0.0125em;
        font-size: 16px;
    }
}
