@use '@angular/material' as mat;
@use '/src/styles/theme.scss';

:host {
    flex: 1 1 auto;
    overflow: auto;
    background-color: mat.m2-get-color-from-palette(theme.$sheetient-primary, 100);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .page {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}
