<div class="sheetient-card">
    <form [formGroup]="form" (submit)="submit()">
        <div class="card-header">Create New Sheet</div>
        <div class="card-body">
            <mat-form-field>
                <mat-label>Sheet Name</mat-label>
                <input matInput maxlength="50" formControlName="sheetName" />
                <mat-error *ngIf="sheetNameControl.errors?.['required']">Required field.</mat-error>
            </mat-form-field>
            <div class="control-row">
                <mat-form-field>
                    <mat-label>Page Height</mat-label>
                    <input inputmode="numeric" type="number" matInput formControlName="pageHeight" />
                    <span matTextSuffix>pixels</span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Page Width</mat-label>
                    <input inputmode="numeric" type="number" matInput formControlName="pageWidth" />
                    <span matTextSuffix>pixels</span>
                </mat-form-field>
            </div>
        </div>
        <div class="card-footer">
            <button mat-button color="accent" [disabled]="isSaving" mat-dialog-close type="button">Cancel</button>
            <app-spinner-button color="accent" appearance="flat" [isSpinning]="isSaving">
                <button mat-flat-button color="accent" type="submit" #button>Create</button>
            </app-spinner-button>
        </div>
    </form>
</div>
